<style type="text/css">
.content {
	text-align: center;
	margin-bottom:30px;
}
.social {}
.social a {
    color: #999999;
    text-decoration: none;
    padding: 0px 5px;
}
.social a:before {
  content: "#";
}
.social a:link{
    color: #999999;
}
.social a:visited{
    color: #999999;
}
.social a:hover{
    color: #999999;
}
.social a:active{
    color: #999999;
}
</style>

<div class="content social">
	<p>Twitter<i class="fab fa-twitter"></i></p>
	<a href="https://twitter.com/if_004" target="_blank">
		if_004
	</a>
</div>

<div class="content social">
	<p>技術ブログ</p>
	<a href="https://www.if-blog.site/" target="_blank">
		アンドロイドは推理小説を書くか?
	</a>
</div>

<div class="content social">
	<p>本の管理アプリ</p>
	<a href="https://bookstorage.edgwbs.net" target="_blank">
		Book Storage
	</a>
</div>

