{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}
    {{ $.Scratch.Set "title" .Site.Params.homeTitle }}
  {{ else }}
    {{ $.Scratch.Set "title" .Site.Title }}
  {{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}
{{ if $title }}
  <header>
    {{ partial "nav.html" . }}
    <div class="intro-header">
      <div class="container">
        <div class="{{ .Type }}-heading">
          {{ if eq .Type "list" }}
          <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
          {{ else }}
	  {{ if .IsHome }}
	  <img src="{{ .Site.BaseURL }}/images/title.png">
	  {{ else }}
	  	  
	  {{ if eq .Type "posts" }}
	  <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
	  {{ range .Params.Author }}
	  <div style="text-align:center;">
	    {{ . }}
	  </div>
  {{ end }}

	  {{ end }}
	  
	  {{ if eq .Type "tags" }}
	  <h1 style="font-size:2em;"><i class="fas fa-tag" style="margin-right:10px"></i>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
	  {{ end }}
	  
	  {{ if eq .Type "pages" }}
	  <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
	  {{ partial "about.html" . }}
	  {{ end }}
	  
	  {{ end }}
	  
          {{ end }}
          <!-- {{ if eq .Type "posts" }} -->
          <!--   {{ partial "postmeta.html" . }} -->
          <!-- {{ end }} -->
        </div>
      </div>
    </div>
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}
