/* noto-sans-jp-regular - japanese_latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
       url('../fonts/noto-sans-jp-v25-japanese_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v25-japanese_latin-regular.woff') format('woff'); /* Modern Browsers */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Modern Browsers */
}

html {
    background-color: #FFFFFF;
    font-size: 55.5%;
    height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  color: #42464c;
  background: 0 0;
  flex-flow: column;
  text-rendering: optimizeLegibility;
  background-color: rgb(238, 238, 238);
}

a {
  color: #9a9a9a;
  outline: none;
  text-decoration: none;
}
a:visited {
  color: #9a9a9a;
}
a:hover {
  color: #535353;
}


img {
    max-width: 90vw;
}

br {}

.error-text {
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
}

.header {
  margin: auto;
  position: relative;
}

.navbar {
  /* min-height: 50px; */
}

.nav {
  top: 0;
  position: relative;
  max-width: 660px;
  margin: auto;
  padding: 20px 20px 0px 20px;
  text-align: right;
}

.nav-logo {
  float: left;
  transition: transform 300ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  width: auto;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 10px;
}

.nav-links li a i {
  color: #535353;
}

.intro-header {
  margin: 40px 0 40px;
  position: relative;
  text-align: center;
}

.intro-header .page-heading,
.intro-header .post-heading,
.intro-header .tags-heading,
.intro-header .categories-heading,
.intro-header .archives-heading {
  text-align: center;
}

.intro-header .page-heading h1,
.intro-header .post-heading h1,
.intro-header .tags-heading h1,
.intro-header .categories-heading h1,
.intro-header .archives-heading h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 4.0rem;
}

.intro-header .post-heading h1 {
  margin-top: 0;
  font-size: 3.5rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #535353;
  max-width: 660px;
  margin: auto;
}

h2 {
    border-bottom: 1px solid #ddd;
    margin-top: 2.5em;
    font-weight: 600;
    margin-bottom: 1em;
    font-size: 1.5em;
}

h3 {
    margin-top: 2em;
    font-size: 1.4em;
}

.container[role=main] {
  max-width: 660px;
  padding: 0px 20px 4rem 20px;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #535353;
  background-color: white;
  background-color: rgb(238, 238, 238);
  word-break: break-word;
}

#blog-archives {
  margin: 20px auto;
  font-size: 1.4rem;
}

.archives {
  margin: 20px auto;
}

.archives td {
  border: none;
  text-align: left;
}

.article {
    text-align: justify;
    word-break: break-all;
}

.article-main {
    margin: 40px 0 60px;
}

.toc {
    border: 2px dotted #cccccc;
    margin: 1em 0;
    background-color: #f0f0f0;
}

.toc .header {
    padding-left: 20px;
    margin: 0.5em 0;
}

#TableOfContents {
  font-size: 1.4rem;
}

#TableOfContents ul {
    list-style-type: none;
    padding-inline-start: 20px;
}

#TableOfContents ul ul {
  list-style-type: disc;
}
li a {
    color: #535353;
}
li a:visited {
    color: #535353;
}
li a:hover {
    color: #9a9a9a;
}

p {
  line-height: 1.5;
  margin: 0.5em 0;
}

p + p {
  margin-top: 1em;
}

.post-title {
    margin-top: 0px;
}

.post-preview {
  padding-bottom: 50px;
  /* border-bottom: 1px solid #eeeeee; */
}

.post-preview a {
  text-decoration: none;
  color: #222222;
}

.post-preview:last-child {
  /* border-bottom: 0; */
}

.postmeta {
  margin: 10px 0;
}

.blog-tags {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #999999;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.blog-tags a {
    color: #999999;
    text-decoration: none;
    padding: 0px 5px;
}

.blog-tags a:before {
  content: "#";
}

.blog-tags a:link{
    color: #999999;
}
.blog-tags a:visited{
    color: #999999;
}
.blog-tags a:hover{
    color: #999999;
}
.blog-tags a:active{
    color: #999999;
}
.tags-container {
    max-width: 440px !important;
}

.terms {
    position:relative;
    height: 40px;
}
.term-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

a.term-link:hover:not(.active) {
  background-color: #dddddd;
}


a.term-link > span.badge {
    float: right;
}

div.panel-body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 800;
  border-radius: 0;
  border: none;
  font-size: 1.6rem;
}

.post-entry {
  width: 100%;
  margin-top: 10px;
}

.post-read-more {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 800;
  float: right;
  position: relative;
  display: block;
  text-decoration: none;
}

a.post-read-more::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

a.post-read-more:hover::after {
  transform: scale(1, 1);
}

blockquote {
  color: #808080;
  padding: 0 10px;
  border-left: 4px solid #aaaaaa;
}

blockquote p:first-child {
  margin-top: 0;
}

table {
  padding: 0;
  border-spacing: 0;
}

table tr {
  border-top: 1px solid #dddddd;
  margin: 0;
  padding: 0;
}

table tr th {
  font-weight: bold;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  text-align: left;
  margin: 0;
  padding: 6px 12px;
}

table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

.chroma .ln {
  margin-right: 0.8em;
  padding: 0 0.4em 0 0.4em;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 1.5rem;
    line-height: 1.42857143;
    /* color: #333; */
    word-break: break-all;
    word-wrap: break-word;
    /* background-color: #f5f5f5; */
    border: 1px solid #cccccc;
    border-radius: 4px;

    color: #f8f8f2;
    background-color: #282a36;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

pre code {
    padding: 0;
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

code {
    padding: 2px 4px;
    font-size: 1.6rem !important;
    background-color: #c5c5c5;
    color: #333;
    border-radius: 4px;
    font-family: 'Roboto';
}

#backtotopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #eeeeff;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.6rem;
  text-align: center;
}

#backtotopButton:hover {
  background-color: #aaaaaa;
}

.searchBoxContainer {
  position: relative;
  width: 300px;
  height: 30px;
  margin: 10px auto 50px auto;
}

input.searchBox {
  position: absolute;
  width: 100%;
  padding: 0 35px 0 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  outline: 0;
  font-size: 1.6rem;
  color: #707070;
  background-color:#f6f6f6;
  border: solid 1px #c9c9c9;
  box-sizing: border-box;
}

.searchBox::placeholder {
  color: #c9c9c9;
}

.searchResults {
  display: none;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  top: 210px;
  left: 0;
  right: 0;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
}

.searchResultPage {
  padding: 14px
}

.searchResultTitle {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  margin: 5px 0;
}

.searchResultBody {
  font-size: 1.6rem;
}

mark {
  background-color: #eeff00;
}

.pager {
  list-style: none;
  text-align: center;
  margin:20px 0 0;
  padding-left: 0;
}

.pager ul {
  display: block;
}

.pager li {
  display: inline;
}

.pager li a {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  /* background: #ffffff; */
  border-radius: 0;
  border: 1px solid #dddddd;
  display: inline-block;
  color: #404040;
  text-decoration: none;
}

.pager a:hover:not(.active) {
  background-color: #dddddd;
}

.pager .previous > a {
  float: left;
  display: block;
}

.pager .next > a {
  float: right;
  display: block;
}

footer {
  padding: 60px 0;
  text-align: center;
  margin-top: auto;
  font-size: 1.4rem;
  font-family: 'Roboto', Helvetica, sans-serif;
}

footer .copyright {
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 0;
}

footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}

footer a {
  color: #050505;
  font-weight: bold;
}

footer i {
  cursor: pointer;
}

@media (min-width: 600px) {
    img {
	max-width: 660px;
    }

  .header {
    margin: auto;
  }

  .nav-links {
      font-size: 1.8rem;
  }

  .nav-links li {
    margin: 0 0 0 30px;
  } 
  
  .container[role=main] {
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0px auto;
  }

  .blog-tags {
    margin-bottom: 10px;
  }

  .pager li a {
    padding: 10px 20px;
  }

  .pager.blog-pager  {
    margin-top: 40px;
  }
}

.tooltip{
    color: #555;
    display: inline-block;                        /* インライン要素化 */
    border-bottom:dashed 1px #555;    /* 下線を引く */
}

.tooltip span {
    display: none;
}
 
/* マウスオーバー */
.tooltip:hover {
    position: relative;
    color: #333;
}
 
/* マウスオーバー時にツールチップを表示 */
.tooltip:hover span {
    display: block;                  /* ボックス要素にする */
    position: absolute;            /* relativeからの絶対位置 */
    top: 35px;
    font-size: 90%;
    color: #fff;
    background-color: darkgray;
    padding: 5px;
    border-radius:3px;
    z-index:100;
}
 
/* フキダシ部分を作成 */
.tooltip span:before{
    content:''; 
    display:block; 
    position:absolute;                         /* relativeからの絶対位置 */
    height:0; 
    width:0; 
    top:-12px; 
    left: 8px;
    border:10px transparent solid; 
    border-right-width:0; 
    border-left-color: darkgray;
    transform:rotate(270deg);            /* 傾きをつける */
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    z-index:100;
}



.top-title {
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    font-size: 4rem !important;
    padding: 0 20px;
    margin: 2em auto;
}


.draft-tag {
    color: red;
}
