{{ define "main" }}
  <div class="container" role="main">
    <article class="article" class="blog-post">
      {{ if .Params.tags }}
      <div class="blog-tags">
	<i class="fas fa-tag" style="color:#111111"></i>
        {{ range .Params.tags }}
        <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
      {{ end }}
            
      {{ if .Params.item_link }}
      <div style="text-align: center">
	<a href={{ .Params.item_link }} target="_blank">
	  {{ if .Params.item_img }}
	  <img src={{ .Params.item_img }} />
	  {{ end }}
	</a>	
      </div>
      {{ end }}
      
      <div style="text-align:right;">
        <i class="fa fa-calendar-alt"></i>&nbsp;{{ .Lastmod.Format ( .Site.Params.dateformat | default "2006-01-02") }}
      </div>

      {{ partial "toc.html" . }}
    </article>
    {{ if and (gt .WordCount 400) (.Param "backtotop") }}
      {{ partial "backtotop.html" . }}
      <button onclick="topFunction()" id="backtotopButton">
        <i class="fa fa-angle-up"></i>
      </button>
    {{ end }}
    {{ if  (not (isset .Params "disable_comments")) }}
      {{ partial "disqus.html" . }}
    {{ end }}  
</div>
{{ end }}
